*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    height: 100vh;
    background-color: #f5f5f5;
    flex-direction: column;
  }
  h1 {
    margin-bottom: 15px;
  }
  
  .form-signup {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  
  .form-group {
    margin: 1rem;
  }
  
  .form-control {
    padding: 1rem;
    border-radius: 7px;
    outline: 0;
    border: 1px solid #ced4da;
  }
  
  .form-control:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 4px #b9d3fa;
  }
  
  .btn:hover {
    background-color: #095cd8;
  }
  
  .form-control,
  .btn {
    width: 100%;
  }
  

  .btn {
    padding: 1.4rem;
    border-radius: 30px;
    background-color: #0d6efd;
    cursor: pointer;
    border: 0;
    outline: 0;
    color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  }
  
  .muted {
    color: #a3a3a3;
  }
   
 #result {
    margin-top: 0.2rem;  
    width: 100%;
    max-width: 400px;
    padding: 7px;
    border-radius: 5px;
    white-space: nowrap;
    text-align: center;

}

 #result.success {
    background-color: #4CAF50;  
    border: 1px solid #4CAF50; 
    color: #fff;  
}

#result.error {
    background-color: #ff5733;  
    border: 1px solid #ff5733; 
    color: #fff;  
}
